---
layout: page
title: Blog
full_posts: 10
permalink: /blog/
---

<div id="post-index" class="span15">
  <div class="title">The Clover Blog</div>

	<ul class="span12">
		{% for post in site.posts %}
			<li>
			<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
			{% if forloop.index < page.full_posts %}
				{% if post.excerpt %}
					{{ post.excerpt | read_more: post.url | simple_format }}
				{% else %} 
					<div class='body'>{{post.content}}</div>
				{% endif %}
				<a href='{{post.url}}#disqus_thread'>查看评论</a>
				</li>
			{% endif %}
		{% endfor %}
	</ul>

</div>
