<a href="http://www.iplaysoft.com/clover.html">异次元软件世界</a>
<a href="http://iaoz.me/clover/">时光的线条</a>
<a href="http://www.appinn.com/clover">小众软件</a>
<a href="http://playpcesor.blogspot.com/2012/08/clover-20-windows-google-chrome.html">電腦玩物</a>
<a href="http://www.itopdog.cn/utilities-operating-systems/tweaks-software/clover.html">软件盒子</a>
<a href="http://www.wuleba.com/?p=6547">吾乐吧软件站</a>
<a href="http://www.ruancan.com/Xitong/Clover.html">软餐</a>
<a href="http://www.lxty-blog.com/7501.html">蓝星天宇</a>
<a href="http://bunengba.com/clover-tab-explorer.htm">不能吧</a>
<a href="http://www.softinn.org/clover/">软件志</a>
<a href="http://www.52fengbao.com/archives/1087.html">软件风暴</a>
<a href="http://www.za58.com/html/1357.html">杂物吧</a>
<a href="http://dengo.org/archives/337">Dengo</a>
<a href="http://duociu.com/clover-plus-tab-to-explorer.html">哆坵</a>
<a href="http://www.bugsong.net/archives/1487">大D综合研究院</a>
<a href="http://www.tangit.net/clover-tad.html">IT糖</a>
<a href="http://www.guofs.com/archives/2855">独木成林</a>
<a href="http://www.ithome.com/html/soft/22374.htm">IT之家</a>
<a href="http://www.simman.cc/article/1479">simman.cc</a>
<a href="http://www.x-berry.com/clover">软矿</a>
<a href="http://lanlanlu.tw/ejie-me-clover/">藍藍路 黑暗部落格</a>
<a href="http://www.desmonding.com/archives/2450">Desmondの小窝</a>
<a href="http://www.betaflare.com/clover.html">软件玩家</a>
<a href="http://www.mdk3.com/windows-explorer-chrome-clover.html">康斯坦丁&#8217;s blog</a>
<a href="http://www.pinpin58.com/soft/1281.html">品品网</a>
<a href="http://www.pingnuts.com/clover-3/">Ping Nuts</a>
<a href="http://sofree.cc/clover/">香腸炒魷魚</a>
<a href="http://www.win8mi.com/clover.html">Win8迷</a>
<a href="http://sciencesoft.cn/">科研软件小站</a>
<a href="http://www.appcheers.com/clover.html">软件小品</a>
<a href="http://softandcare.com/clover/">软件与关爱</a>
